<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="e:\日志文件名.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding" portSharingEnabled="true" closeTimeout="00:20:00"
                 receiveTimeout="00:20:00"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647"
>
          <security mode="None"></security>
        </binding>
        <binding name="mexTcp" portSharingEnabled="true">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="tcpB">
          <serviceThrottling />
          <serviceMetadata httpGetEnabled="true" />

        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--net.tcp部署的时候特别需要注意跨域文件在80端口下要开启该服务指定的端口，如下面的4503-->
    <services>
      <service behaviorConfiguration="tcpB" name="TKS.Service.NotifyService">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.104.49:222/"/>
            <add baseAddress="net.tcp://192.168.104.49:4503/"/>
          </baseAddresses>
        </host>
        <endpoint address=""
          binding="netTcpBinding" bindingConfiguration="tcpBinding" name="duplexService"
           contract="TKS.Service.INotifyBoard" />
        <endpoint address="mex" binding="netTcpBinding" contract="IMetadataExchange"
                      bindingConfiguration="mexTcp" />
      </service>
    </services>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
